In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [6]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [10]:
area = data[['Area', 'Y2017']].value_counts()

Area      Y2017
Rwanda    0.00        745
Congo     0.00        740
Niger     0.00        724
Chad      0.00        714
Botswana  0.00        706
                     ...
Chad      123.00        1
          118.00        1
          116.00        1
Mali      0.22          1
Zimbabwe  14237.00      1
Length: 14773, dtype: int64

In [16]:
# Step 1: Compute the sum of Y2017 column for each country
sums_by_country = data.groupby("Area")["Y2017"].sum()

# Step 2: Sort the sums in ascending order
sorted_sums = sums_by_country.sort_values()

# Step 3: Retrieve the 7th element from the sorted sums
seventh_lowest_sum = sorted_sums.iloc[6]

# Step 4: Find the corresponding country for the 7th lowest sum
country_with_seventh_lowest_sum = sorted_sums[sorted_sums == seventh_lowest_sum].index[0]

# Print the result
print("Country with the 7th lowest sum in Y2017:", country_with_seventh_lowest_sum)

Country with the 7th lowest sum in Y2017: Guinea-Bissau

In [17]:
# Step 1: Filter the data for Madagascar and Protein supply quantity
filtered_data = data[(data["Area"] == "Madagascar") & (data["Element"] == "Protein supply quantity")]

# Step 2: Access the Y2015 column for the filtered rows
protein_supply_2015 = filtered_data["Y2015"]

# Step 3: Compute the sum of the values in the Y2015 column
total_protein_supply_2015 = protein_supply_2015.sum()

# Print the result
print("Total protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total protein supply quantity in Madagascar in 2015: 0.0

In [42]:
data.shape

(60943, 12)

In [43]:
data.describe

<bound method NDFrame.describe of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [23]:
# Step 1: Filter the DataFrame for 'Stock Variation'
stock_variation_data = data[data['Element'] == 'Stock Variation']

# Step 2: Group the filtered DataFrame by 'Element'
grouped_data = stock_variation_data.groupby('Element')

# Step 3: Calculate the sum of the 'Y2014', 'Y2015', 'Y2016', 'Y2017', and 'Y2018' columns for each group
sum_by_year = grouped_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Step 4: Find the year with the highest sum of Stock Variation
year_with_highest_sum = sum_by_year.sum(axis=1).idxmax()

# Print the result
print("Year with the highest sum of Stock Variation:", year_with_highest_sum)

Year with the highest sum of Stock Variation: Stock Variation

In [24]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [32]:
import pandas as pd

# Perform groupby sum aggregation on 'Item'
grouped_data = data.groupby('Item')[['Y2015', 'Y2018']].sum()

# Print the result
print(grouped_data)

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [40]:
# Perform groupby sum aggregation on 'Item'
grouped_data = data.groupby('Area')[['Y2017', 'Area']].sum(), sorted(grouped_data, reverse=True)

# Print the result
print(grouped_data)



# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

(                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34, ['Y2017'])

In [41]:
data['Area'].nunique()

49