In [1]:
import pandas as pd

In [2]:
# reading in the data
data = pd.read_csv('energydata_complete.csv')

In [3]:
# displaying the first 5 rows of the data
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
# viewing the basic statistical info for each columns
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [5]:
# Checking for null values
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
data['date'] = pd.to_datetime(data['date'])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  datetime64[ns]
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [9]:
data.shape

(19735, 29)

In [10]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

# Question 1

In [11]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


X = data['T2'].values.reshape(-1, 1)  # Independent variable (T2)
y = data['T6'].values  # Dependent variable (T6)

# Fit a linear regression model
model = LinearRegression()
model.fit(X, y)

# Calculate R-squared (RÂ²)
r2 = round(r2_score(y, model.predict(X)), 2)

print("R-squared value: ", r2)

R-squared value:  0.64

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error


data.drop(["date", "lights"], axis=1)


# feature extraction or engineering
x =  data[[ 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2']]
y = data['Appliances'].values



# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(x)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

# Fit a multiple linear regression model on the training set
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

LinearRegression()

In [27]:

#obtain predictions
predicted_values = linear_model.predict(X_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

53.64

In [28]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

51918501.21

In [29]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

93.64

In [30]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [36]:
# Assuming your linear model is stored in a variable called "linear_model"

# Get the feature weights
feature_weights = linear_model.coef_

# Print the feature weights
print("Feature weights:", , feature_weights)

Feature weights: x [  -3.51072478  592.29486183 -252.710373   -488.66680472  310.97103712
  102.77165244   31.00966845   28.23278127  -16.75282177   17.12619362
  252.97465249   40.7120577    11.04109074  -47.73659198  109.13469841
 -168.62716102 -203.23662712  -42.58633878 -344.3898449     7.31807923
  -83.1075989    31.22594824   13.16807161  126.00077634    0.824005
    0.824005  ]

In [40]:

feature_weights = np.array([-3.51072478, 592.29486183, -252.710373, -488.66680472, 310.97103712,
                            102.77165244, 31.00966845, 28.23278127, -16.75282177, 17.12619362,
                            252.97465249, 40.7120577, 11.04109074, -47.73659198, 109.13469841,
                            -168.62716102, -203.23662712, -42.58633878, -344.3898449, 7.31807923,
                            -83.1075989, 31.22594824, 13.16807161, 126.00077634, 0.824005, 0.824005])

column_names = ['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
                'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
                'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1', 'rv2']

# Find the index of the lowest and highest feature weights
lowest_index = np.argmin(feature_weights)
highest_index = np.argmax(feature_weights)

# Get the corresponding column names and their respective feature weights
lowest_column = column_names[lowest_index]
highest_column = column_names[highest_index]
lowest_weight = feature_weights[lowest_index]
highest_weight = feature_weights[highest_index]

# Print the results
print("Column with the lowest feature weight:", lowest_column)
print("Lowest feature weight:", lowest_weight)
print("Column with the highest feature weight:", highest_column)
print("Highest feature weight:", highest_weight)

Column with the lowest feature weight: RH_2
Lowest feature weight: -488.66680472
Column with the highest feature weight: RH_1
Highest feature weight: 592.29486183

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler


data = data.drop(['date', 'lights'], axis =1, inplace = True)

# Separate the target variable (Appliances)
X = data.drop('Appliances', axis=1, inplace=True)
y = data["Appliances"]

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

# Fit a multiple linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate Residual Sum of Squares (RSS)
rss = round(((y_test - y_pred) ** 2).sum(), 2)

print("Residual Sum of Squares (RSS):", rss)

In [ ]:
from sklearn.linear_model import Lasso

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)


lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

In [ ]:
from sklearn.linear_model import Lasso

# Assuming X_train and y_train are your training data

# Train the Lasso regression model
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Obtain the feature weights
feature_weights = lasso_model.coef_

# Count the number of features with non-zero weights
non_zero_features = sum(feature_weights != 0)

print("Number of features with non-zero weights:", non_zero_features)

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming X_train, X_test, y_train, y_test are your train and test data

# Train the Lasso regression model
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = lasso_model.predict(X_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("RMSE with Lasso regression:", round(rmse, 3))

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

# Assuming your dataset is stored in a variable called "data"

# Remove the specified columns
data_cleaned = data.drop(["date", "lights"], axis=1)

# Separate the features (X) and target variable (y)
X = data_cleaned.drop("Appliances", axis=1)
y = data_cleaned["Appliances"]

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the data using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the multiple linear regression model
regression_model = LinearRegression()
regression_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = regression_model.predict(X_test_scaled)

# Calculate the Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

print("Mean Absolute Error:", round(mae, 2))

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

In [ ]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [ ]:
linear_model_weights = get_weights_df(model, X_train, 'Linear_Model_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

In [ ]:
from sklearn.metrics import mean_squared_error


predicted_values = model.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

In [ ]:
# Assuming your linear regression model is stored in a variable called "linear_model"

# Get the feature weights
feature_weights = linear_model.coef_

# Find the index of the feature with the lowest weight
lowest_weight_index = feature_weights.argmin()

# Find the index of the feature with the highest weight
highest_weight_index = feature_weights.argmax()

# Get the corresponding feature names
feature_names = X.columns  # Assuming X is the feature matrix used for training

# Get the feature names with the lowest and highest weights
lowest_weight_feature = feature_names[lowest_weight_index]
highest_weight_feature = feature_names[highest_weight_index]

print("Feature with the lowest weight:", lowest_weight_feature)
print("Feature with the highest weight:", highest_weight_feature)

In [42]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [43]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [45]:
linear_model_weights = get_weights_df(model, X_train, 'Linear_Model_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

AttributeError: 'numpy.ndarray' object has no attribute 'columns'